<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.erp.sys.set.dao.BaseTypeMapper">
  <resultMap id="BaseResultMap" type="com.jr.erp.sys.set.entity.BaseType">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="companyNo" jdbcType="VARCHAR" property="companyNo" />
    <result column="typeName" jdbcType="VARCHAR" property="typeName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="isSysDef" jdbcType="TINYINT" property="isSysDef" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, companyNo, typeName, name, isSysDef, remarks, seq
  </sql>
  <select id="selectByExample" parameterType="com.jr.erp.sys.set.entity.BaseTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from st_base_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null">
      <if test="limit != null">
        limit ${(page-1)*limit}, ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from st_base_type
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from st_base_type
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jr.erp.sys.set.entity.BaseTypeExample">
    delete from st_base_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jr.erp.sys.set.entity.BaseType">
    insert into st_base_type (Id, companyNo, typeName, 
      name, isSysDef, remarks, 
      seq)
    values (#{id,jdbcType=INTEGER}, #{companyNo,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{isSysDef,jdbcType=TINYINT}, #{remarks,jdbcType=VARCHAR}, 
      #{seq,jdbcType=INTEGER})
  </insert>
  <select id="countByExample" parameterType="com.jr.erp.sys.set.entity.BaseTypeExample" resultType="java.lang.Long">
    select count(*) from st_base_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.jr.erp.sys.set.entity.BaseType">
    update st_base_type
    <set>
      <if test="companyNo != null">
        companyNo = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        typeName = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isSysDef != null">
        isSysDef = #{isSysDef,jdbcType=TINYINT},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jr.erp.sys.set.entity.BaseType">
    update st_base_type
    set companyNo = #{companyNo,jdbcType=VARCHAR},
      typeName = #{typeName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      isSysDef = #{isSysDef,jdbcType=TINYINT},
      remarks = #{remarks,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>