<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.erp.bill.purchase.dao.BillPurchaseMapper">
  <resultMap id="BaseResultMap" type="com.jr.erp.bill.purchase.entity.BillPurchase">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="companyNo" jdbcType="VARCHAR" property="companyNo" />
    <result column="sysBillNo" jdbcType="VARCHAR" property="sysBillNo" />
    <result column="billNo" jdbcType="VARCHAR" property="billNo" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="custName" jdbcType="VARCHAR" property="custName" />
    <result column="cusMobile" jdbcType="VARCHAR" property="cusMobile" />
    <result column="employeeId" jdbcType="INTEGER" property="employeeId" />
    <result column="employeeName" jdbcType="VARCHAR" property="employeeName" />
    <result column="purchaseType" jdbcType="VARCHAR" property="purchaseType" />
    <result column="billDate" jdbcType="VARCHAR" property="billDate" />
    <result column="billType" jdbcType="TINYINT" property="billType" />
    <result column="areaCode" jdbcType="VARCHAR" property="areaCode" />
    <result column="areaName" jdbcType="VARCHAR" property="areaName" />
    <result column="counterAreaCode" jdbcType="VARCHAR" property="counterAreaCode" />
    <result column="counterAreaName" jdbcType="VARCHAR" property="counterAreaName" />
    <result column="createUserId" jdbcType="INTEGER" property="createUserId" />
    <result column="createUserName" jdbcType="VARCHAR" property="createUserName" />
    <result column="totalNum" jdbcType="INTEGER" property="totalNum" />
    <result column="totalLabelPrice" jdbcType="DOUBLE" property="totalLabelPrice" />
    <result column="totalCost" jdbcType="DOUBLE" property="totalCost" />
    <result column="totalWorkFee" jdbcType="DOUBLE" property="totalWorkFee" />
    <result column="totaJewelWeight" jdbcType="DOUBLE" property="totaJewelWeight" />
    <result column="jtFlag" jdbcType="TINYINT" property="jtFlag" />
    <result column="billStatus" jdbcType="TINYINT" property="billStatus" />
    <result column="brandName" jdbcType="VARCHAR" property="brandName" />
    <result column="inType" jdbcType="BIT" property="inType" />
    <result column="receiveTime" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="submitAuditUserId" jdbcType="INTEGER" property="submitAuditUserId" />
    <result column="submitAuditUserName" jdbcType="VARCHAR" property="submitAuditUserName" />
    <result column="submitAuditTime" jdbcType="TIMESTAMP" property="submitAuditTime" />
    <result column="auditUserId" jdbcType="INTEGER" property="auditUserId" />
    <result column="auditUserName" jdbcType="VARCHAR" property="auditUserName" />
    <result column="auditTime" jdbcType="VARCHAR" property="auditTime" />
    <result column="auditMsg" jdbcType="VARCHAR" property="auditMsg" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, companyNo, sysBillNo, billNo, supplier, custName, cusMobile, employeeId, employeeName, 
    purchaseType, billDate, billType, areaCode, areaName, counterAreaCode, counterAreaName, 
    createUserId, createUserName, totalNum, totalLabelPrice, totalCost, totalWorkFee, 
    totaJewelWeight, jtFlag, billStatus, brandName, inType, receiveTime, createTime, 
    submitAuditUserId, submitAuditUserName, submitAuditTime, auditUserId, auditUserName, 
    auditTime, auditMsg, remarks
  </sql>
  <select id="selectByExample" parameterType="com.jr.erp.bill.purchase.entity.BillPurchaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bill_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null">
      <if test="limit != null">
        limit ${(page-1)*limit}, ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bill_purchase
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill_purchase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jr.erp.bill.purchase.entity.BillPurchaseExample">
    delete from bill_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jr.erp.bill.purchase.entity.BillPurchase">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bill_purchase (companyNo, sysBillNo, billNo, 
      supplier, custName, cusMobile, 
      employeeId, employeeName, purchaseType, 
      billDate, billType, areaCode, 
      areaName, counterAreaCode, counterAreaName, 
      createUserId, createUserName, totalNum, 
      totalLabelPrice, totalCost, totalWorkFee, 
      totaJewelWeight, jtFlag, billStatus, 
      brandName, inType, receiveTime, 
      createTime, submitAuditUserId, submitAuditUserName, 
      submitAuditTime, auditUserId, auditUserName, 
      auditTime, auditMsg, remarks
      )
    values (#{companyNo,jdbcType=VARCHAR}, #{sysBillNo,jdbcType=VARCHAR}, #{billNo,jdbcType=VARCHAR}, 
      #{supplier,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, #{cusMobile,jdbcType=VARCHAR}, 
      #{employeeId,jdbcType=INTEGER}, #{employeeName,jdbcType=VARCHAR}, #{purchaseType,jdbcType=VARCHAR}, 
      #{billDate,jdbcType=VARCHAR}, #{billType,jdbcType=TINYINT}, #{areaCode,jdbcType=VARCHAR}, 
      #{areaName,jdbcType=VARCHAR}, #{counterAreaCode,jdbcType=VARCHAR}, #{counterAreaName,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR}, #{totalNum,jdbcType=INTEGER}, 
      #{totalLabelPrice,jdbcType=DOUBLE}, #{totalCost,jdbcType=DOUBLE}, #{totalWorkFee,jdbcType=DOUBLE}, 
      #{totaJewelWeight,jdbcType=DOUBLE}, #{jtFlag,jdbcType=TINYINT}, #{billStatus,jdbcType=TINYINT}, 
      #{brandName,jdbcType=VARCHAR}, #{inType,jdbcType=BIT}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=VARCHAR}, #{submitAuditUserId,jdbcType=INTEGER}, #{submitAuditUserName,jdbcType=VARCHAR}, 
      #{submitAuditTime,jdbcType=TIMESTAMP}, #{auditUserId,jdbcType=INTEGER}, #{auditUserName,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=VARCHAR}, #{auditMsg,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <select id="countByExample" parameterType="com.jr.erp.bill.purchase.entity.BillPurchaseExample" resultType="java.lang.Long">
    select count(*) from bill_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.jr.erp.bill.purchase.entity.BillPurchase">
    update bill_purchase
    <set>
      <if test="companyNo != null">
        companyNo = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="sysBillNo != null">
        sysBillNo = #{sysBillNo,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null">
        billNo = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        custName = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="cusMobile != null">
        cusMobile = #{cusMobile,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        employeeId = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="employeeName != null">
        employeeName = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseType != null">
        purchaseType = #{purchaseType,jdbcType=VARCHAR},
      </if>
      <if test="billDate != null">
        billDate = #{billDate,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        billType = #{billType,jdbcType=TINYINT},
      </if>
      <if test="areaCode != null">
        areaCode = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null">
        areaName = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="counterAreaCode != null">
        counterAreaCode = #{counterAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="counterAreaName != null">
        counterAreaName = #{counterAreaName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        createUserId = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        createUserName = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="totalNum != null">
        totalNum = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="totalLabelPrice != null">
        totalLabelPrice = #{totalLabelPrice,jdbcType=DOUBLE},
      </if>
      <if test="totalCost != null">
        totalCost = #{totalCost,jdbcType=DOUBLE},
      </if>
      <if test="totalWorkFee != null">
        totalWorkFee = #{totalWorkFee,jdbcType=DOUBLE},
      </if>
      <if test="totaJewelWeight != null">
        totaJewelWeight = #{totaJewelWeight,jdbcType=DOUBLE},
      </if>
      <if test="jtFlag != null">
        jtFlag = #{jtFlag,jdbcType=TINYINT},
      </if>
      <if test="billStatus != null">
        billStatus = #{billStatus,jdbcType=TINYINT},
      </if>
      <if test="brandName != null">
        brandName = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="inType != null">
        inType = #{inType,jdbcType=BIT},
      </if>
      <if test="receiveTime != null">
        receiveTime = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="submitAuditUserId != null">
        submitAuditUserId = #{submitAuditUserId,jdbcType=INTEGER},
      </if>
      <if test="submitAuditUserName != null">
        submitAuditUserName = #{submitAuditUserName,jdbcType=VARCHAR},
      </if>
      <if test="submitAuditTime != null">
        submitAuditTime = #{submitAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUserId != null">
        auditUserId = #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditUserName != null">
        auditUserName = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        auditTime = #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="auditMsg != null">
        auditMsg = #{auditMsg,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jr.erp.bill.purchase.entity.BillPurchase">
    update bill_purchase
    set companyNo = #{companyNo,jdbcType=VARCHAR},
      sysBillNo = #{sysBillNo,jdbcType=VARCHAR},
      billNo = #{billNo,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR},
      custName = #{custName,jdbcType=VARCHAR},
      cusMobile = #{cusMobile,jdbcType=VARCHAR},
      employeeId = #{employeeId,jdbcType=INTEGER},
      employeeName = #{employeeName,jdbcType=VARCHAR},
      purchaseType = #{purchaseType,jdbcType=VARCHAR},
      billDate = #{billDate,jdbcType=VARCHAR},
      billType = #{billType,jdbcType=TINYINT},
      areaCode = #{areaCode,jdbcType=VARCHAR},
      areaName = #{areaName,jdbcType=VARCHAR},
      counterAreaCode = #{counterAreaCode,jdbcType=VARCHAR},
      counterAreaName = #{counterAreaName,jdbcType=VARCHAR},
      createUserId = #{createUserId,jdbcType=INTEGER},
      createUserName = #{createUserName,jdbcType=VARCHAR},
      totalNum = #{totalNum,jdbcType=INTEGER},
      totalLabelPrice = #{totalLabelPrice,jdbcType=DOUBLE},
      totalCost = #{totalCost,jdbcType=DOUBLE},
      totalWorkFee = #{totalWorkFee,jdbcType=DOUBLE},
      totaJewelWeight = #{totaJewelWeight,jdbcType=DOUBLE},
      jtFlag = #{jtFlag,jdbcType=TINYINT},
      billStatus = #{billStatus,jdbcType=TINYINT},
      brandName = #{brandName,jdbcType=VARCHAR},
      inType = #{inType,jdbcType=BIT},
      receiveTime = #{receiveTime,jdbcType=TIMESTAMP},
      createTime = #{createTime,jdbcType=VARCHAR},
      submitAuditUserId = #{submitAuditUserId,jdbcType=INTEGER},
      submitAuditUserName = #{submitAuditUserName,jdbcType=VARCHAR},
      submitAuditTime = #{submitAuditTime,jdbcType=TIMESTAMP},
      auditUserId = #{auditUserId,jdbcType=INTEGER},
      auditUserName = #{auditUserName,jdbcType=VARCHAR},
      auditTime = #{auditTime,jdbcType=VARCHAR},
      auditMsg = #{auditMsg,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>