<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.erp.bill.purchase.dao.BillPurchaseMapper">
  <resultMap id="BaseResultMap" type="com.jr.erp.bill.purchase.entity.BillPurchase">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orgSheetId" jdbcType="INTEGER" property="orgSheetId" />
    <result column="companyNo" jdbcType="VARCHAR" property="companyNo" />
    <result column="sheetNo" jdbcType="VARCHAR" property="sheetNo" />
    <result column="oldSheetNo" jdbcType="VARCHAR" property="oldSheetNo" />
    <result column="supplierNo" jdbcType="VARCHAR" property="supplierNo" />
    <result column="supplierName" jdbcType="VARCHAR" property="supplierName" />
    <result column="customerName" jdbcType="VARCHAR" property="customerName" />
    <result column="customerPhone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="saleManId" jdbcType="INTEGER" property="saleManId" />
    <result column="salesmanName" jdbcType="VARCHAR" property="salesmanName" />
    <result column="purchaseSaleMode" jdbcType="VARCHAR" property="purchaseSaleMode" />
    <result column="sheetType" jdbcType="TINYINT" property="sheetType" />
    <result column="deptAreaCode" jdbcType="VARCHAR" property="deptAreaCode" />
    <result column="deptAreaName" jdbcType="VARCHAR" property="deptAreaName" />
    <result column="storeId" jdbcType="INTEGER" property="storeId" />
    <result column="storeName" jdbcType="VARCHAR" property="storeName" />
    <result column="createUserId" jdbcType="INTEGER" property="createUserId" />
    <result column="createUserName" jdbcType="VARCHAR" property="createUserName" />
    <result column="totalNum" jdbcType="INTEGER" property="totalNum" />
    <result column="totalGoldWeight" jdbcType="DOUBLE" property="totalGoldWeight" />
    <result column="costPrice" jdbcType="DOUBLE" property="costPrice" />
    <result column="totalSalePriceAmount" jdbcType="DOUBLE" property="totalSalePriceAmount" />
    <result column="totalMainStoneWeight" jdbcType="DOUBLE" property="totalMainStoneWeight" />
    <result column="sheetDate" jdbcType="DATE" property="sheetDate" />
    <result column="jtFlag" jdbcType="TINYINT" property="jtFlag" />
    <result column="saveFlag" jdbcType="BIT" property="saveFlag" />
    <result column="daiXiaoFlag" jdbcType="BIT" property="daiXiaoFlag" />
    <result column="zaiTuFlag" jdbcType="BIT" property="zaiTuFlag" />
    <result column="brandName" jdbcType="VARCHAR" property="brandName" />
    <result column="areaCode" jdbcType="VARCHAR" property="areaCode" />
    <result column="importFlag" jdbcType="BIT" property="importFlag" />
    <result column="sheetStatus" jdbcType="INTEGER" property="sheetStatus" />
    <result column="receiveTime" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="piCi" jdbcType="INTEGER" property="piCi" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="blendFlag" jdbcType="INTEGER" property="blendFlag" />
    <result column="auditStatus" jdbcType="INTEGER" property="auditStatus" />
    <result column="submitAuditUserId" jdbcType="INTEGER" property="submitAuditUserId" />
    <result column="submitAuditUserName" jdbcType="VARCHAR" property="submitAuditUserName" />
    <result column="submitAuditTime" jdbcType="TIMESTAMP" property="submitAuditTime" />
    <result column="auditUserId" jdbcType="INTEGER" property="auditUserId" />
    <result column="auditUserName" jdbcType="VARCHAR" property="auditUserName" />
    <result column="auditTime" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="auditMsg" jdbcType="VARCHAR" property="auditMsg" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jr.erp.bill.purchase.entity.BillPurchase">
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, orgSheetId, companyNo, sheetNo, oldSheetNo, supplierNo, supplierName, customerName, 
    customerPhone, saleManId, salesmanName, purchaseSaleMode, sheetType, deptAreaCode, 
    deptAreaName, storeId, storeName, createUserId, createUserName, totalNum, totalGoldWeight, 
    costPrice, totalSalePriceAmount, totalMainStoneWeight, sheetDate, jtFlag, saveFlag, 
    daiXiaoFlag, zaiTuFlag, brandName, areaCode, importFlag, sheetStatus, receiveTime, 
    piCi, createTime, blendFlag, auditStatus, submitAuditUserId, submitAuditUserName, 
    submitAuditTime, auditUserId, auditUserName, auditTime, auditMsg
  </sql>
  <sql id="Blob_Column_List">
    remarks
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jr.erp.bill.purchase.entity.BillPurchaseExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bill_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jr.erp.bill.purchase.entity.BillPurchaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bill_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null">
      <if test="limit != null">
        limit ${(page-1)*limit}, ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bill_purchase
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill_purchase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jr.erp.bill.purchase.entity.BillPurchaseExample">
    delete from bill_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jr.erp.bill.purchase.entity.BillPurchase">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bill_purchase (orgSheetId, companyNo, sheetNo, 
      oldSheetNo, supplierNo, supplierName, 
      customerName, customerPhone, saleManId, 
      salesmanName, purchaseSaleMode, sheetType, 
      deptAreaCode, deptAreaName, storeId, 
      storeName, createUserId, createUserName, 
      totalNum, totalGoldWeight, costPrice, 
      totalSalePriceAmount, totalMainStoneWeight, 
      sheetDate, jtFlag, saveFlag, 
      daiXiaoFlag, zaiTuFlag, brandName, 
      areaCode, importFlag, sheetStatus, 
      receiveTime, piCi, createTime, 
      blendFlag, auditStatus, submitAuditUserId, 
      submitAuditUserName, submitAuditTime, 
      auditUserId, auditUserName, auditTime, 
      auditMsg, remarks)
    values (#{orgSheetId,jdbcType=INTEGER}, #{companyNo,jdbcType=VARCHAR}, #{sheetNo,jdbcType=VARCHAR}, 
      #{oldSheetNo,jdbcType=VARCHAR}, #{supplierNo,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{customerPhone,jdbcType=VARCHAR}, #{saleManId,jdbcType=INTEGER}, 
      #{salesmanName,jdbcType=VARCHAR}, #{purchaseSaleMode,jdbcType=VARCHAR}, #{sheetType,jdbcType=TINYINT}, 
      #{deptAreaCode,jdbcType=VARCHAR}, #{deptAreaName,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, 
      #{storeName,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR}, 
      #{totalNum,jdbcType=INTEGER}, #{totalGoldWeight,jdbcType=DOUBLE}, #{costPrice,jdbcType=DOUBLE}, 
      #{totalSalePriceAmount,jdbcType=DOUBLE}, #{totalMainStoneWeight,jdbcType=DOUBLE}, 
      #{sheetDate,jdbcType=DATE}, #{jtFlag,jdbcType=TINYINT}, #{saveFlag,jdbcType=BIT}, 
      #{daiXiaoFlag,jdbcType=BIT}, #{zaiTuFlag,jdbcType=BIT}, #{brandName,jdbcType=VARCHAR}, 
      #{areaCode,jdbcType=VARCHAR}, #{importFlag,jdbcType=BIT}, #{sheetStatus,jdbcType=INTEGER}, 
      #{receiveTime,jdbcType=TIMESTAMP}, #{piCi,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{blendFlag,jdbcType=INTEGER}, #{auditStatus,jdbcType=INTEGER}, #{submitAuditUserId,jdbcType=INTEGER}, 
      #{submitAuditUserName,jdbcType=VARCHAR}, #{submitAuditTime,jdbcType=TIMESTAMP}, 
      #{auditUserId,jdbcType=INTEGER}, #{auditUserName,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditMsg,jdbcType=VARCHAR}, #{remarks,jdbcType=LONGVARCHAR})
  </insert>
  <select id="countByExample" parameterType="com.jr.erp.bill.purchase.entity.BillPurchaseExample" resultType="java.lang.Long">
    select count(*) from bill_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.jr.erp.bill.purchase.entity.BillPurchase">
    update bill_purchase
    <set>
      <if test="orgSheetId != null">
        orgSheetId = #{orgSheetId,jdbcType=INTEGER},
      </if>
      <if test="companyNo != null">
        companyNo = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="sheetNo != null">
        sheetNo = #{sheetNo,jdbcType=VARCHAR},
      </if>
      <if test="oldSheetNo != null">
        oldSheetNo = #{oldSheetNo,jdbcType=VARCHAR},
      </if>
      <if test="supplierNo != null">
        supplierNo = #{supplierNo,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplierName = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customerName = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null">
        customerPhone = #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="saleManId != null">
        saleManId = #{saleManId,jdbcType=INTEGER},
      </if>
      <if test="salesmanName != null">
        salesmanName = #{salesmanName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSaleMode != null">
        purchaseSaleMode = #{purchaseSaleMode,jdbcType=VARCHAR},
      </if>
      <if test="sheetType != null">
        sheetType = #{sheetType,jdbcType=TINYINT},
      </if>
      <if test="deptAreaCode != null">
        deptAreaCode = #{deptAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="deptAreaName != null">
        deptAreaName = #{deptAreaName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        storeId = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null">
        storeName = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        createUserId = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        createUserName = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="totalNum != null">
        totalNum = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="totalGoldWeight != null">
        totalGoldWeight = #{totalGoldWeight,jdbcType=DOUBLE},
      </if>
      <if test="costPrice != null">
        costPrice = #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="totalSalePriceAmount != null">
        totalSalePriceAmount = #{totalSalePriceAmount,jdbcType=DOUBLE},
      </if>
      <if test="totalMainStoneWeight != null">
        totalMainStoneWeight = #{totalMainStoneWeight,jdbcType=DOUBLE},
      </if>
      <if test="sheetDate != null">
        sheetDate = #{sheetDate,jdbcType=DATE},
      </if>
      <if test="jtFlag != null">
        jtFlag = #{jtFlag,jdbcType=TINYINT},
      </if>
      <if test="saveFlag != null">
        saveFlag = #{saveFlag,jdbcType=BIT},
      </if>
      <if test="daiXiaoFlag != null">
        daiXiaoFlag = #{daiXiaoFlag,jdbcType=BIT},
      </if>
      <if test="zaiTuFlag != null">
        zaiTuFlag = #{zaiTuFlag,jdbcType=BIT},
      </if>
      <if test="brandName != null">
        brandName = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        areaCode = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="importFlag != null">
        importFlag = #{importFlag,jdbcType=BIT},
      </if>
      <if test="sheetStatus != null">
        sheetStatus = #{sheetStatus,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null">
        receiveTime = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="piCi != null">
        piCi = #{piCi,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blendFlag != null">
        blendFlag = #{blendFlag,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null">
        auditStatus = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="submitAuditUserId != null">
        submitAuditUserId = #{submitAuditUserId,jdbcType=INTEGER},
      </if>
      <if test="submitAuditUserName != null">
        submitAuditUserName = #{submitAuditUserName,jdbcType=VARCHAR},
      </if>
      <if test="submitAuditTime != null">
        submitAuditTime = #{submitAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUserId != null">
        auditUserId = #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditUserName != null">
        auditUserName = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        auditTime = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditMsg != null">
        auditMsg = #{auditMsg,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jr.erp.bill.purchase.entity.BillPurchase">
    update bill_purchase
    set orgSheetId = #{orgSheetId,jdbcType=INTEGER},
      companyNo = #{companyNo,jdbcType=VARCHAR},
      sheetNo = #{sheetNo,jdbcType=VARCHAR},
      oldSheetNo = #{oldSheetNo,jdbcType=VARCHAR},
      supplierNo = #{supplierNo,jdbcType=VARCHAR},
      supplierName = #{supplierName,jdbcType=VARCHAR},
      customerName = #{customerName,jdbcType=VARCHAR},
      customerPhone = #{customerPhone,jdbcType=VARCHAR},
      saleManId = #{saleManId,jdbcType=INTEGER},
      salesmanName = #{salesmanName,jdbcType=VARCHAR},
      purchaseSaleMode = #{purchaseSaleMode,jdbcType=VARCHAR},
      sheetType = #{sheetType,jdbcType=TINYINT},
      deptAreaCode = #{deptAreaCode,jdbcType=VARCHAR},
      deptAreaName = #{deptAreaName,jdbcType=VARCHAR},
      storeId = #{storeId,jdbcType=INTEGER},
      storeName = #{storeName,jdbcType=VARCHAR},
      createUserId = #{createUserId,jdbcType=INTEGER},
      createUserName = #{createUserName,jdbcType=VARCHAR},
      totalNum = #{totalNum,jdbcType=INTEGER},
      totalGoldWeight = #{totalGoldWeight,jdbcType=DOUBLE},
      costPrice = #{costPrice,jdbcType=DOUBLE},
      totalSalePriceAmount = #{totalSalePriceAmount,jdbcType=DOUBLE},
      totalMainStoneWeight = #{totalMainStoneWeight,jdbcType=DOUBLE},
      sheetDate = #{sheetDate,jdbcType=DATE},
      jtFlag = #{jtFlag,jdbcType=TINYINT},
      saveFlag = #{saveFlag,jdbcType=BIT},
      daiXiaoFlag = #{daiXiaoFlag,jdbcType=BIT},
      zaiTuFlag = #{zaiTuFlag,jdbcType=BIT},
      brandName = #{brandName,jdbcType=VARCHAR},
      areaCode = #{areaCode,jdbcType=VARCHAR},
      importFlag = #{importFlag,jdbcType=BIT},
      sheetStatus = #{sheetStatus,jdbcType=INTEGER},
      receiveTime = #{receiveTime,jdbcType=TIMESTAMP},
      piCi = #{piCi,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      blendFlag = #{blendFlag,jdbcType=INTEGER},
      auditStatus = #{auditStatus,jdbcType=INTEGER},
      submitAuditUserId = #{submitAuditUserId,jdbcType=INTEGER},
      submitAuditUserName = #{submitAuditUserName,jdbcType=VARCHAR},
      submitAuditTime = #{submitAuditTime,jdbcType=TIMESTAMP},
      auditUserId = #{auditUserId,jdbcType=INTEGER},
      auditUserName = #{auditUserName,jdbcType=VARCHAR},
      auditTime = #{auditTime,jdbcType=TIMESTAMP},
      auditMsg = #{auditMsg,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jr.erp.bill.purchase.entity.BillPurchase">
    update bill_purchase
    set orgSheetId = #{orgSheetId,jdbcType=INTEGER},
      companyNo = #{companyNo,jdbcType=VARCHAR},
      sheetNo = #{sheetNo,jdbcType=VARCHAR},
      oldSheetNo = #{oldSheetNo,jdbcType=VARCHAR},
      supplierNo = #{supplierNo,jdbcType=VARCHAR},
      supplierName = #{supplierName,jdbcType=VARCHAR},
      customerName = #{customerName,jdbcType=VARCHAR},
      customerPhone = #{customerPhone,jdbcType=VARCHAR},
      saleManId = #{saleManId,jdbcType=INTEGER},
      salesmanName = #{salesmanName,jdbcType=VARCHAR},
      purchaseSaleMode = #{purchaseSaleMode,jdbcType=VARCHAR},
      sheetType = #{sheetType,jdbcType=TINYINT},
      deptAreaCode = #{deptAreaCode,jdbcType=VARCHAR},
      deptAreaName = #{deptAreaName,jdbcType=VARCHAR},
      storeId = #{storeId,jdbcType=INTEGER},
      storeName = #{storeName,jdbcType=VARCHAR},
      createUserId = #{createUserId,jdbcType=INTEGER},
      createUserName = #{createUserName,jdbcType=VARCHAR},
      totalNum = #{totalNum,jdbcType=INTEGER},
      totalGoldWeight = #{totalGoldWeight,jdbcType=DOUBLE},
      costPrice = #{costPrice,jdbcType=DOUBLE},
      totalSalePriceAmount = #{totalSalePriceAmount,jdbcType=DOUBLE},
      totalMainStoneWeight = #{totalMainStoneWeight,jdbcType=DOUBLE},
      sheetDate = #{sheetDate,jdbcType=DATE},
      jtFlag = #{jtFlag,jdbcType=TINYINT},
      saveFlag = #{saveFlag,jdbcType=BIT},
      daiXiaoFlag = #{daiXiaoFlag,jdbcType=BIT},
      zaiTuFlag = #{zaiTuFlag,jdbcType=BIT},
      brandName = #{brandName,jdbcType=VARCHAR},
      areaCode = #{areaCode,jdbcType=VARCHAR},
      importFlag = #{importFlag,jdbcType=BIT},
      sheetStatus = #{sheetStatus,jdbcType=INTEGER},
      receiveTime = #{receiveTime,jdbcType=TIMESTAMP},
      piCi = #{piCi,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      blendFlag = #{blendFlag,jdbcType=INTEGER},
      auditStatus = #{auditStatus,jdbcType=INTEGER},
      submitAuditUserId = #{submitAuditUserId,jdbcType=INTEGER},
      submitAuditUserName = #{submitAuditUserName,jdbcType=VARCHAR},
      submitAuditTime = #{submitAuditTime,jdbcType=TIMESTAMP},
      auditUserId = #{auditUserId,jdbcType=INTEGER},
      auditUserName = #{auditUserName,jdbcType=VARCHAR},
      auditTime = #{auditTime,jdbcType=TIMESTAMP},
      auditMsg = #{auditMsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>