<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.erp.sys.dao.SysGoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.jr.erp.sys.entity.SysGoodsCategory">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="companyNo" jdbcType="VARCHAR" property="companyNo" />
    <result column="systemCode" jdbcType="VARCHAR" property="systemCode" />
    <result column="assistCode" jdbcType="VARCHAR" property="assistCode" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName" />
    <result column="firstTypeName" jdbcType="VARCHAR" property="firstTypeName" />
    <result column="firstType" jdbcType="VARCHAR" property="firstType" />
    <result column="secondTypeName" jdbcType="VARCHAR" property="secondTypeName" />
    <result column="secondType" jdbcType="VARCHAR" property="secondType" />
    <result column="saleType" jdbcType="TINYINT" property="saleType" />
    <result column="canBarter" jdbcType="TINYINT" property="canBarter" />
    <result column="goldName" jdbcType="VARCHAR" property="goldName" />
    <result column="jewelName" jdbcType="VARCHAR" property="jewelName" />
    <result column="categoryName" jdbcType="VARCHAR" property="categoryName" />
    <result column="goldPercent" jdbcType="VARCHAR" property="goldPercent" />
    <result column="firstClassify" jdbcType="VARCHAR" property="firstClassify" />
    <result column="secondClassify" jdbcType="VARCHAR" property="secondClassify" />
    <result column="thirdClassify" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="labelName" jdbcType="VARCHAR" property="labelName" />
    <result column="grfName" jdbcType="VARCHAR" property="grfName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, companyNo, systemCode, assistCode, goodsName, firstTypeName, firstType, secondTypeName, 
    secondType, saleType, canBarter, goldName, jewelName, categoryName, goldPercent, 
    firstClassify, secondClassify, thirdClassify, labelName, grfName, status, remark
  </sql>
  <select id="selectByExample" parameterType="com.jr.erp.sys.entity.SysGoodsCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_goods_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null">
      <if test="limit != null">
        limit ${(page-1)*limit}, ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_goods_category
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_goods_category
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jr.erp.sys.entity.SysGoodsCategoryExample">
    delete from sys_goods_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jr.erp.sys.entity.SysGoodsCategory">
    insert into sys_goods_category (Id, companyNo, systemCode, 
      assistCode, goodsName, firstTypeName, 
      firstType, secondTypeName, secondType, 
      saleType, canBarter, goldName, 
      jewelName, categoryName, goldPercent, 
      firstClassify, secondClassify, thirdClassify, 
      labelName, grfName, status, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{companyNo,jdbcType=VARCHAR}, #{systemCode,jdbcType=VARCHAR}, 
      #{assistCode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{firstTypeName,jdbcType=VARCHAR}, 
      #{firstType,jdbcType=VARCHAR}, #{secondTypeName,jdbcType=VARCHAR}, #{secondType,jdbcType=VARCHAR}, 
      #{saleType,jdbcType=TINYINT}, #{canBarter,jdbcType=TINYINT}, #{goldName,jdbcType=VARCHAR}, 
      #{jewelName,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{goldPercent,jdbcType=VARCHAR}, 
      #{firstClassify,jdbcType=VARCHAR}, #{secondClassify,jdbcType=VARCHAR}, #{thirdClassify,jdbcType=VARCHAR}, 
      #{labelName,jdbcType=VARCHAR}, #{grfName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <select id="countByExample" parameterType="com.jr.erp.sys.entity.SysGoodsCategoryExample" resultType="java.lang.Long">
    select count(*) from sys_goods_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.jr.erp.sys.entity.SysGoodsCategory">
    update sys_goods_category
    <set>
      <if test="companyNo != null">
        companyNo = #{companyNo,jdbcType=VARCHAR},
      </if>
      <if test="systemCode != null">
        systemCode = #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="assistCode != null">
        assistCode = #{assistCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goodsName = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="firstTypeName != null">
        firstTypeName = #{firstTypeName,jdbcType=VARCHAR},
      </if>
      <if test="firstType != null">
        firstType = #{firstType,jdbcType=VARCHAR},
      </if>
      <if test="secondTypeName != null">
        secondTypeName = #{secondTypeName,jdbcType=VARCHAR},
      </if>
      <if test="secondType != null">
        secondType = #{secondType,jdbcType=VARCHAR},
      </if>
      <if test="saleType != null">
        saleType = #{saleType,jdbcType=TINYINT},
      </if>
      <if test="canBarter != null">
        canBarter = #{canBarter,jdbcType=TINYINT},
      </if>
      <if test="goldName != null">
        goldName = #{goldName,jdbcType=VARCHAR},
      </if>
      <if test="jewelName != null">
        jewelName = #{jewelName,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        categoryName = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="goldPercent != null">
        goldPercent = #{goldPercent,jdbcType=VARCHAR},
      </if>
      <if test="firstClassify != null">
        firstClassify = #{firstClassify,jdbcType=VARCHAR},
      </if>
      <if test="secondClassify != null">
        secondClassify = #{secondClassify,jdbcType=VARCHAR},
      </if>
      <if test="thirdClassify != null">
        thirdClassify = #{thirdClassify,jdbcType=VARCHAR},
      </if>
      <if test="labelName != null">
        labelName = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="grfName != null">
        grfName = #{grfName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jr.erp.sys.entity.SysGoodsCategory">
    update sys_goods_category
    set companyNo = #{companyNo,jdbcType=VARCHAR},
      systemCode = #{systemCode,jdbcType=VARCHAR},
      assistCode = #{assistCode,jdbcType=VARCHAR},
      goodsName = #{goodsName,jdbcType=VARCHAR},
      firstTypeName = #{firstTypeName,jdbcType=VARCHAR},
      firstType = #{firstType,jdbcType=VARCHAR},
      secondTypeName = #{secondTypeName,jdbcType=VARCHAR},
      secondType = #{secondType,jdbcType=VARCHAR},
      saleType = #{saleType,jdbcType=TINYINT},
      canBarter = #{canBarter,jdbcType=TINYINT},
      goldName = #{goldName,jdbcType=VARCHAR},
      jewelName = #{jewelName,jdbcType=VARCHAR},
      categoryName = #{categoryName,jdbcType=VARCHAR},
      goldPercent = #{goldPercent,jdbcType=VARCHAR},
      firstClassify = #{firstClassify,jdbcType=VARCHAR},
      secondClassify = #{secondClassify,jdbcType=VARCHAR},
      thirdClassify = #{thirdClassify,jdbcType=VARCHAR},
      labelName = #{labelName,jdbcType=VARCHAR},
      grfName = #{grfName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>