<head>
<base href="${basePath}" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="resource/layui/css/layui.css" media="all">
<link rel="stylesheet" href="resource/css/positionFix.css">
<link rel="stylesheet" href="resource/login/admin.css">
<script type="text/javascript" src="resource/js/jquery2.2.4/jquery.min.js"></script>
<script>
var bathPath = "${basePath}";
</script>
</head>