<head>
<base href="${basePath}">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/smartadmin-production-plugins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/smartadmin-production.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/smartadmin-skins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/smart-form-ext.css">
<link rel="shortcut icon" href="static/img/favicon/favicon.ico" type="image/x-icon">
<link rel="icon" href="static/img/favicon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="static/fonts/font.css">
<link rel="stylesheet" href="static/css/smart-form-ext.css?v=1">
<link href="static/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</head>
<script>
var bathPath = "${basePath}";
</script>
