<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<#include "/headerPop.html" />
<body>
	<div class="layui-fluid">
		<div class="layui-row">
			<div class="layui-card">
				<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
					<div class="layui-form-item">
						<label class="layui-form-label">门店名称</label>
						<div class="layui-input-inline"> 
							<input type="text" name="shopName" lay-verify="required" placeholder="请输入用户名" class="layui-input" >
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">所属区域</label>
						<div class="layui-input-inline">
							 <select id='regionCode' name="regionCode" lay-filter='regionCode'>
						        <option value="">请选择省</option>
						      </select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">负责人</label>
						<div class="layui-input-inline">
							<input type="text" name="author" lay-verify="required" placeholder="请输入负责人" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">电话</label>
						<div class="layui-input-inline">
							<input type="text" name="mobile" lay-verify="required|phone" placeholder="请输入号码" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">地址</label>
						<div class="layui-input-block">
							<input type="text" name="address" placeholder="请输入地址" class="layui-input">
						</div>
					</div>					
					<div class="layui-form-item">
						<label class="layui-form-label">状态</label>
						<div class="layui-input-inline">
							<input type="checkbox" name="status" lay-skin="switch" value="1" lay-text="启用|停用" checked>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">说明</label>
						<div class="layui-input-inline">
							<textarea name="remarks" lay-verify="required" style="width: 400px; height: 120px;" class="layui-textarea"></textarea>
						</div>
					</div>
					<div class="layui-form-item layui-hide">
				      <input type="button" lay-submit lay-filter="submitForm" id="submitForm" value="确认添加">
				      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
				    </div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="resource/layui/layui.all.js?v=1"></script>
<script>
	layui.use('form', function() {
		var $ = layui.$, form = layui.form;

		/*form.val('storeInfo', {
			    "shopName": "贤心" // "name": "value"
			    ,"address": "123"
			    ,"interest": 1
			    ,"like[write]": true //复选框选中状态
			    ,"close": true //开关状态
			    ,"sex": "女"
			    ,"desc": "我爱 layui"
		})*/
		var active={
				initElement:function(){
					$.ajax({
				        type: "POST",
				        url: "sysElement/getElements.do",
				        dataType: 'json',
				        async: false,
				        data: "elements=areaInfo&elements=storeInfo",
				        success: function(data) {
				            if (data.status == '100') {
				            	$("#regionCode").append("<option>张三</option><option>李四</option>");
				            	debugger;
				            	form.render('select')
				            }else{
				            	layer.alert("获取基础信息失败");
				            }
				        },
				        error: function() {
				        }
				    });
				}
			}
		active.initElement();
		form.on('submit(submitForm)', function(data) {
			var field = data.field; //获取提交的字段
			var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
			//提交 Ajax 成功后，关闭当前弹层并重载表格
			//$.ajax({});
			alert(JSON.stringify(field))
			//parent.layui.table.reload('LAY-app-content-list'); //重载表格
			//parent.layer.close(index); //再执行关闭 
		});
	});
	
	
	
	
</script>
</html>

