<!DOCTYPE html>
<html>
<head>
<base href="${basePath}">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/smartadmin-production-plugins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/smartadmin-production.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/smartadmin-skins.min.css">
<link rel="shortcut icon" href="static/img/favicon/favicon.ico" type="image/x-icon">
<link rel="icon" href="static/img/favicon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body>
<!-- widget grid -->
<section id="widget-grid" class="smart-style-3">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget " data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Normal Table</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox">
					</div>
					<div class="widget-body">
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>阿斯蒂芬</th>
										<th>Col阿斯蒂芬name</th>
										<th>Col阿斯蒂芬name</th>
										<th>Colu订单name</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>R嗯嗯w 1</td>
										<td>R啊啊ow 2</td>
										<td>Ro啊哦w 3</td>
										<td>Row 4</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
</body>
<script src="static/js/libs/jquery-3.2.1.min.js"></script>
<script src="static/js/app.config.js"></script>
<script src="static/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/notification/SmartNotification.min.js"></script>
<script src="static/js/smartwidgets/jarvis.widget.min.js"></script>
<script src="static/js/plugin/sparkline/jquery.sparkline.min.js"></script>
<script src="static/js/plugin/select2/select2.min.js"></script>
<script src="static/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
<script src="static/js/app.js"></script>
<script type="text/javascript">
	pageSetUp();
</script>
</html>

