<!DOCTYPE html>
<html>
<meta charset="utf-8">
<#include "/header-smart.html" />
<body>
	<div class="row no-margin">
		<article class="col-sm-12">
			<div class="jarviswidget jarviswidget-color-blueDark"
				data-widget-colorbutton="false" data-widget-editbutton="false"
				data-widget-togglebutton="false" data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-align-justify"></i>
					</span>
					<h2>区域结构图</h2>
				</header>
				<div>
					<div class="tree">
						<ul>
							<li>
								<span><i class="fa fa-lg fa-plus-circle icon-minus-sign"></i> ${areaStru.areaName}</span>
								<ul>
									<#list areaStru.itemList as rogin>
										<li>
											<span class="label label-default"><i class="fa fa-lg fa-plus-circle icon-minus-sign"></i> 类型 ：区域  &nbsp;&nbsp; 状态 ：${rogin.status} &nbsp;&nbsp; 名称 ：${rogin.areaName}</span>
											<ul>
											<#list rogin.itemList as store>
												<li>
													<span><i class="fa fa-clock-o"></i> 类型 ：门店 &nbsp;&nbsp;状态 ：${store.status}&nbsp;&nbsp; ${store.areaName}</span>
													<ul>
													<#list store.itemList as counter>
														<li>
															<span><i class="fa fa-clock-o"></i>类型 ：展柜 &nbsp;&nbsp;状态 ：${counter.status}&nbsp;&nbsp;   ${counter.areaName}</span>
														</li>
													</#list>
													</ul>
												</li>
											</#list>
											</ul>
										</li>
									</#list>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</article>
	</div>
</body>
<script src="static/js/libs/jquery-3.2.1.min.js"></script>
<script src="static/js/app.config.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/app.js?v=1"></script>
<script src="static/plugins/layer/layer.js"></script>
<script src="static/js/plugin/bootstraptree/bootstrap-tree.min.js" charset="utf-8"></script>
<script type="text/javascript">
	$(document).ready(function() {
		pageSetUp();
	});
</script>
</html>

