<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<#include "/header.html" />
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header">
						<div class="demoTable">
							<button id="addStore" class="layui-btn">新增</button>
						</div>
					</div>
					<div class="layui-card-body">
						<table class="layui-hide" id="storeList"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="resource/layui/layui.all.js?v=1"></script>
<script>
	layui.use('table', function() {
		var $ = layui.jquery;
		var table = layui.table;
		table.render({
			elem : '#storeList',
			url : 'sysStore/getStoreList.do',
			toolbar : '#toolbarDemo',
			cols : [ [ {
				field : 'shopName',
				title : '门店名称',
				sort : true
			}, {
				field : 'mobile',
				title : '联系人电话'
			}, {
				field : 'status',
				title : '状态',
				sort : true
			}, {
				field : 'remarks',
				title : '备注'
			} ] ],
			page : true,
			limit : 2
		});

		//注册各种事件
		var active = {
			addStore : function() {
				layer.open({
					type : 2,
					title : "新增/修改门店", //不显示标题栏
					closeBtn : false,
					area : ['600px','600px'],
					shade : 0.8,
					id : 'lay_storeInfo', //设定一个id，防止重复弹出
					btn : [ '保存', '取消' ],
					btnAlign : 'r',
					moveType : 1, //拖拽模式，0或者1
					content : "sysStore/editStoreInfo.do",
					yes : function(index, layero) {
						 var submit = layero.find('iframe').contents().find("#submitForm");
           				 submit.click();
					}
				});
			}
		}
		$('#addStore').on('click', function() {
			active.addStore();
		});
	});
</script>
</html>

